<!DOCTYPE html>
<html>

<head>

  <title>NCF POC - Sign up or sign in</title>

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript">
    console.log("Hello World");
  </script>
  <style id="common">
  </style>

</head>

<body>
  <div class="page">
    <div class="container unified_container" role="presentation">
      <div class="leftColumn">
        <a href="/">
          <img class="logo"
            src="https://ms-identity-b2c-javascript-spa.azurewebsites.net/templates/src/backgrounds/faithful-logo-light.svg"
            alt="Faithful Logo" width={351} height={82} />
          <p class="subtitle" mt={2}>
            from NCF
          </p>
        </a>
        <div class="greeting">
          <p class="greetingTitle">Lorem Ipsum</p>
          <p class="greetingMessage">
            Lorem Ipsum is simply dummy p of the printing and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text
          </p>
        </div>
      </div>
      <div class="rightColumn">
        <div id="api" role="main"></div> <!-- This is where the Azure B2C form will be rendered.-->
      </div>
    </div>
    </Flex>
</body>

</html>